body{
    margin:0;
    padding:0;
    background: repeating-linear-gradient(-45deg,#a9a9a9 0, #a9a9a9 0.5px,#dcdcdc 0.5px,#dcdcdc 1px);
    display: flex;
}

#site-box{
width: 1200px;
color: #666666;
margin-left: auto;
    margin-right: auto;
    background-color: white;
    /* display: flex; */

}
h1{
    margin: 0;
    padding: 30px;
      
}
#top-image{
    
    width: 300px;
    height: auto;
}
header{
    border-top:solid #1139ca 5px;
    
    
}


ul{
    list-style-type: none;

}
ul.pages2_ul {
    padding-left: 0;

    font-size: 0;
    text-align:center;
}
ul.news_ul{
    padding-right: 30px;
}
ul.ul_menu{
    width: 250px;
    color:#666666;
    
    background: linear-gradient(0deg, white, whitesmoke);
    border-radius: 2px 2px 2px 2px;
    /* font-size: medium; */
    /* font-weight: lighter; */
    padding: 10px 10px;
    /* vertical-align: middle; */
    border:solid 1px #d3d3d3; 
}
ul.ul_menu_nolink{
    width: 250px;
    color:#666666;
     padding: 10px 10px;

}
ul.ul_menu_product_link{
     width: 250px;
    color:#666666;
    padding: 10px 10px;
    background: linear-gradient(0deg, white, whitesmoke);
    border-radius: 2px 2px 2px 2px;
    border:solid 1px #d3d3d3; 

    
}
ul.ul_menu_product_nolink{
     width: 250px;
    color:#666666;
    padding: 10px 10px;
    /* background: linear-gradient(0deg, white, whitesmoke); */
    /* border-radius: 2px 2px 2px 2px; */
    /* border:solid 1px #d3d3d3;  */
    clear:both;
    
}


li.pages{
    color:#666666;

    font-size: small;
    border-right:solid 0.5px;
    border-top:solid 0.5px;
    border-bottom:solid 0.5px;
    
	height: 70px;
    background-color: ;
    display: inline-block;
    font-size: 18px;
    /* width: 16.6%; */
    width: calc(99%/6);
}
li.pages:hover{
    color:#1139ca;
    background-color:#E6EBFA;


}
li.pages2-1{
    color:#666666;

    font-size: small;

        border-right:solid 0.5px;
    border-top:solid 0.5px;
    border-bottom:solid 0.5px;
    border-left:solid 0.5px;
    
	height: 70px;
    background-color: ;
    display: inline-block;
    font-size: 18px;
    /* width: 16.6%; */
    width: calc(99%/6);

    position: relative;
    background-color:#E6EBFA;
}
li.pages2-1:hover{
    color:#1139ca;
}

li.news{
    border-bottom: dotted 1px;
    padding:2px;
    padding-right: 30px;

}
li.top{
    border-top: solid #1139ca 3px;
    background-color:#E5E5E5;
    border-bottom: dotted 1px;
    padding:15px;
}
li.top_product{
      border-top: solid #1139ca 3px;
    background-color:#E5E5E5;
    border-bottom: dotted 1px;
    padding:15px;
}
li.menu{
border-bottom: dotted 1px;
    padding:10px;
}
li.menu:hover{
    color:#1139ca;
    background-color: #fff;
}
li.menu_product{
    /* clear:both; */
    border-bottom: dotted 1px;
    padding:10px;
    font-size: xx-small;
    text-decoration:none;
}
li.menu_product:hover{
    color:#1139ca;
    background-color:#fff;
}
li.unei{
border-bottom: dotted 1px;
    padding:10px;
    text-align: center;
}

a{
    color:#666666
}
a.pages2{
    /* display:block; */
    text-decoration: none;
vertical-align: middle;
/* position: relative; */
}
a.a_news{
    color:#666666;
    text-decoration: none;
}
a.a_news:hover{
    text-decoration-line: underline;
}
a.a_menu{
    text-decoration:none;
}
a.a_product{
    
    text-decoration:none;
    text-decoration-line: none;

}

nav>img{
    width: 1200px;
    height:auto;
}
img.clip{
    width: 50px;
    height: auto;
    float: left;
}

main{
    padding:20px;
    width: 850px;
    /* flex:1; */
    float: left;

}

aside{
    width: 300px;
    float: right;
}

footer{
    clear: both;
text-align: center;
background-color: #1139ca;
color:#fff;
padding:10px;
font-size: small;
line-height: 30px;
}

h2{
    
    color: white;
    background-color: #1139ca;
    border-radius: 4px 4px 4px 4px;
    font-size: medium;
    font-weight: lighter;
    padding: 10px 10px;
    vertical-align: middle;
    margin-top:30px;
    margin-bottom: 30px;
    
    
}

h3{
    color:#666666;
    
    background: linear-gradient(0deg, white, whitesmoke);
    border-radius: 7px 7px 7px 7px;
    font-size: medium;
    font-weight: lighter;
    padding: 10px 10px;
    vertical-align: middle;
    border:solid 1px #d3d3d3;
    padding-left:30px;
}
h3.otoiawase{
color:red;
}


.span_blue{
    color: #1139ca;
    margin-right: 30px;
}
.span_red{
    color:red;
}

p{
    padding-right: 30px;
    padding-left: 30px;
    padding-top:10px;
    padding-bottom:20px;
    
}
p.p_clip{
    padding:0px;
}
.pages3{
    color:#bababa;
    font: 12px;
    margin:0;
    padding:0;
    font-size:small;
}
div.div_news{
    text-align:right;
    display: block;
    padding-right:30px;
        }

div.div_pages2_1{

        font-size:medium;
        margin:10px;
border-left:solid #1139ca 3px;
        }
div.div_pages2{

        font-size:medium;
        margin:10px;
/* border-left:solid #1139ca 3px; */
        }
div.div_pages2:hover{
            font-size:medium;
        margin:10px;
border-left:solid #1139ca 3px;
}

div.h2_div_news{
    border-left:solid #fff 3px;
     margin-left:10px;
     
}
div.h2_div_news_inner{
margin-left:50px
}
div.under{
    font-size:x-small;
}
div.minititle{
    /* display: block; */
    
    padding-left:10px;
}
div.kadai2link{
    /* overflow: hidden; */
}
div.unei{
    margin:10px;
    text-align: center;
}
div.unei2{
    font-size:small;
}
span.clip_title{
    color:#1139ca;
}
.span_new:after{
    margin-left:20px;
    background-color:red;
    color:#fff;
    content:"new";
    padding:3px;
    font-size: x-small;
}

table {

    border-collapse: collapse;
}

th,td {
    font-weight:lighter;
    border: solid 0.3px;  /* 枠線指定 */
    padding-left:10px;   /* 余白指定 */
}

th{
    width: 400px;
    height: 50px;

}
td{
    width: 1200px;
    height: 50px;
    
}

.th_top{
    background-color: #dcdcdc;
text-align: left;

}